


// $theme-color-bg:linear-gradient(90deg, #0059c5, #49d9e3);
$theme-color-bg:linear-gradient(
  to right,
  rgb(236, 72, 153),
  rgb(239, 68, 68),
  rgb(234, 179, 8)
);
$theme-color-font:#d83b28;
$theme-color-icon:#fa4e10;
$theme-color-icon2:#ff9c00;


